@import 'variables';
@font-face {
	font-family: $font-name1;
	src: url('../../build/fonts/'+$font-name1);
	src: local($font-name1), local($font-name1),
		url('../../build/fonts/'+$font-name1+'.woff2') format('woff2'),
		url('../../build/fonts/'+$font-name1+'.woff') format('woff'),
		url('../../build/fonts/'+$font-name1+'.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: $font-name2;
	src: url('../../build/fonts/'+$font-name2);
	src: local($font-name2), local($font-name2),
		url('../../build/fonts/'+$font-name2+'.woff2') format('woff2'),
		url('../../build/fonts/'+$font-name2+'.woff') format('woff'),
		url('../../build/fonts/'+$font-name2+'.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
