.icon {
	display: inline-block;
	width: 1em;
	fill: currentColor;
}

.icon-check {
	/*font-size:(3.2/10)*1rem;*/
	width:(3.519/3.2)*1em;
}
.icon-clock {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-dev-hleb-kroshki {
	/*font-size:(10/10)*1rem;*/
	width:(7/10)*1em;
}
.icon-home {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-look {
	/*font-size:(5.759/10)*1rem;*/
	width:(10.559/5.759)*1em;
}
.icon-mail {
	/*font-size:(10.239/10)*1rem;*/
	width:(12.8/10.239)*1em;
}
.icon-mail-white {
	/*font-size:(10.239/10)*1rem;*/
	width:(12.8/10.239)*1em;
}
.icon-menu {
	/*font-size:(5.12/10)*1rem;*/
	width:(7.04/5.12)*1em;
}
.icon-minus {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-need-help {
	/*font-size:(18.239/10)*1rem;*/
	width:(19.199/18.239)*1em;
}
.icon-next {
	/*font-size:(40/10)*1rem;*/
	width:(40/40)*1em;
}
.icon-pamyat {
	/*font-size:(19.199/10)*1rem;*/
	width:(23.679/19.199)*1em;
}
.icon-phone {
	/*font-size:(6.399/10)*1rem;*/
	width:(6.399/6.399)*1em;
}
.icon-phone-w {
	/*font-size:(6.399/10)*1rem;*/
	width:(6.399/6.399)*1em;
}
.icon-plus {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
.icon-point {
	/*font-size:(6.399/10)*1rem;*/
	width:(4.479/6.399)*1em;
}
.icon-point-w {
	/*font-size:(6.399/10)*1rem;*/
	width:(4.479/6.399)*1em;
}
.icon-pomojem {
	/*font-size:(18.285/10)*1rem;*/
	width:(19.199/18.285)*1em;
}
.icon-search {
	/*font-size:(5.12/10)*1rem;*/
	width:(5.12/5.12)*1em;
}
.icon-time {
	/*font-size:(6.399/10)*1rem;*/
	width:(6.399/6.399)*1em;
}
.icon-time-w {
	/*font-size:(6.399/10)*1rem;*/
	width:(6.399/6.399)*1em;
}
.icon-x-button {
	/*font-size:(512/10)*1rem;*/
	width:(512/512)*1em;
}
